repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        args: [--whitespaces-count, "2"]
        exclude: ^(.+/)*(.+\.go|go\..+|Makefile|.+\.plist)$

  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: pinact
        name: Pin versions of Actions and reusable workflows
        description: Pin versions of GitHub Actions and reusable workflows
        entry: pinact run
        args: [--verify]
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/pinact/v3/cmd/pinact@v3.4.5
        types: [yaml]
        files: ^(\.github/workflows/.+|(.+/)*action)\.ya?ml$

  - repo: local
    hooks:
      - id: ghalint
        name: Validate GitHub Actions workflows
        description: Check GitHub Actions workflows for security policy compliance
        entry: ghalint run
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3
        types: [yaml]
        files: ^\.github/workflows/.+\.ya?ml$
      - id: ghalint-act
        name: Validate GitHub Actions
        description: Check GitHub Actions for security policy compliance
        entry: ghalint act
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3
        types: [yaml]
        files: ^(.+/)*action\.ya?ml$

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
        args: [--no-config]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.34.0
    hooks:
      - id: renovate-config-validator
        files: (^|/).?(renovate(?:rc)?|default|labels)(?:\.json5?)?$
        args: [--strict]

  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.188
    hooks:
      - id: rumdl
        args: [--fix, --disable, "MD013,MD024,MD033,MD036"]

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        args: [-e, "SC1071,SC1072,SC1073,SC1090,SC1091,SC2015,SC2148,SC2154"]
