name: ⬆️ Update OPML in Gist

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

permissions: {}

jobs:
  update:
    name: ⬆️ Update OPML in Gist
    runs-on: Ubuntu-Slim
    timeout-minutes: 1

    steps:
      - name: ⬆️ Update OPML in Gist
        uses: 5ouma/opml-generator@e67f7fc921d8e9bf1b37ca01f1c4db4d19ba7373 # v1.1.1
        with:
          username: ${{ github.repository_owner }}
          feeds: ${{ secrets.FEEDS_GIST_ID }}
          outputs: ${{ secrets.OUTPUTS_GIST_ID }}
          token: ${{ secrets.TOKEN }}
